DATABRICKS_CLIENT_ID="YOUR_CLIENT_ID_HERE"
DATABRICKS_CLIENT_SECRET="YOUR_CLIENT_SECRET_HERE"
DATABRICKS_HTTP_PATH="YOUR_HTTP_PATH_HERE"
DATABRICKS_SERVER_HOSTNAME="YOUR_SERVER_HOSTNAME_HERE"
# For auth failure fallback
DATABRICKS_ACCESS_TOKEN="YOUR_ACCESSS_TOKEN"
# For M2 max chip
OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
